# Ignore compiled python files
*.pyc
# Ignore c source files
*.c
# Ignore shared libs
*.so
# Ignore html files
*.html
# Ignore observation and info files
*.obs
*.info
*.xls
# Ignore auxiliary directories
spatial_field_model/
prototype/model_outputs*/
prototype/results/
prototype/figures/
real_data/
# Ignore eclipse project files
.project
.pydevproject
.settings/
